
.main-container {
  display: flex;
}
main {
  padding: 60px;
}

.title {
  
  display: grid;
  place-items: center;
}

/* Sidebar */
.sidebar {
  background-color: #333; /* or your preferred sidebar color */
  overflow: hidden;
  z-index: 1000;
  background: black;
  color: white;
  height: 100vh;
  overflow-y: auto;
  width: 100px;
  border-right: 0.3px solid rgb(63, 64, 64);

}
.sidebar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}

.bars {
  width: 25px;
  position: fixed;
  margin-top: 25px;
}
.hide {
  display: none;
}


.routes {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: fixed;
}
.link {
  display: flex;
  color: rgb(184,184,184);
  text-decoration: none;
  gap: 10px;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  color:white;
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  /* border-bottom: 4px solid rgb(247, 76, 76); */
  
}
.link_text {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #909090;
}

.menu {
  width: 300px;
  display: flex;
  color: white;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
 
}


.link_container {
  display: flex;
  align-items: center;
  
}
.link_flex {
  gap: 30px;
  justify-items: center;
  font-size: 12px;
  font-weight: bold;
  display: flex;
} 

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Completely hide sidebar on small screens */
  }

  /* Optional: Add styles for a toggle button (hamburger menu) if needed */
}
  

  